{% extends 'AdminBundle:Base:base.html.twig' %}


{% block title %}Admin - Career Levels{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Content Section Start -->
    <div class="content-section">
        <div class="container-liquid">
            {% include 'AdminBundle:JMP:Base/sidebar.html.twig' %}   
            <div class="float-row-smaller listingPages">
                <div class="col-xs-12">
                    <div class="col-xs-8"><h1>Admin - Career Levels</h1></div>
                    <div class="col-xs-4">
                        <a href="{{ path('admin_jmp_career_level_new') }}" class="addPageBtn pull-right">CREATE A CAREER LEVEL</a>
                    </div>
                </div>
                <div class="col-xs-12 headPages">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-5">Career Level Name</div>
                    <div class="col-xs-6">LAST LOG</div>
                </div>
                <div id="pages_sortable_list" class="ui-sortable">
                    <div id="infoSorting"></div>
                    {% for careerlevel in careerlevels %}
                    <div class="col-xs-12 listing" id="item_{{ careerlevel.position }}">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-5">{{ careerlevel.name }}</div>
                        <div class="col-xs-2">{{ careerlevel.userModified }}</div>
                        <div class="col-xs-2">{{ careerlevel.dateModified|date("m/d/Y") }}</div>
                        <div class="col-xs-2">
                            <a href="#" class="actionBtn drag ui-sortable-handle" rel="">Drag</a>
                            <a href="{{ path('admin_jmp_career_level_edit', {id:careerlevel.id}) }}" class="actionBtn edit">Edit</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xs-12 pagesTip">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-7"><span>Tip.</span> Do you need to add another career level?</div>
                    <div class="col-xs-4"><a href="{{ path('admin_jmp_career_level_new') }}" class="addPageBtn pull-right">CREATE A CAREER LEVEL</a></div>
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>
    <script type="text/javascript">
        var relatedPage = 'jmp/careerlevel-units';
    </script>            <!-- Content Section End -->
{% endblock %}
